.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label.error{
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#pdfviewer {
  width: 600px;
  margin: 0 auto;
}
#pdfviewer .viewer-layout-toolbar {
  background: #000;
  color: #fff;
}

#pdfviewer .viewer-icon{
  stroke: #fff;
  stroke-width: 3px;
}

#pdfviewer .viewer-zoom-popover-target-arrow {
  border-color: rgb(255 255 255 / 90%) transparent transparent;
}

#pdfviewer .viewer-menu-item-label, #pdfviewer .viewer-search-popover-label, #pdfviewer .viewer-menu, #pdfviewer .viewer-menu .viewer-icon{
  color: #000;
  stroke: #000;
}